node_modules
.DS_Store
*.tgz
.afreet/
pulses/
vault/
/memory/
.pi/*
!.pi/skills/
!.pi/skills/**
!.pi/prompts/
!.pi/prompts/**
!.pi/codex-conversion-custom-tools/
!.pi/codex-conversion-custom-tools/**
